body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffebee;
  font-family: "Arial", sans-serif;
}

.valentine-card {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #d32f2f;
}

.buttons {
  margin-top: 20px;
}

.yes-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.no-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.response {
  margin-top: 20px;
  font-size: 24px;
  color: #d32f2f;
}
.cat-gif {
  margin-top: 20px;
}

.cat-gif img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  
}
